<launch>
	<!-- Hold head in place and reset odometry -->
	<node pkg="miro_teach_repeat" type="robot_setup.py" name="miro_setup">
		<rosparam param="lift">30</rosparam>
		<rosparam param="yaw">0</rosparam>
		<rosparam param="pitch">8</rosparam>
		<rosparam param="reset_odom">true</rosparam>
	</node>

	<!-- Hold head in place and reset odometry -->
	<node pkg="miro_teach_repeat" type="robot_setup.py" name="miro_setup">
		<rosparam param="lift">30</rosparam>
		<rosparam param="yaw">0</rosparam>
		<rosparam param="pitch">8</rosparam>
	</node>

	<!-- Teleop to control Miro -->
	<include file="$(find miro_demos)/launch/teleop.launch" />

	<!-- Localise using the images -->
	<node pkg="miro_teach_repeat" type="localiser.py" name="miro_localiser" output="screen">
		<rosparam param="camera_setup_command">frame=180w@15</rosparam>
		<rosparam param="image_resize_width">115</rosparam>
		<rosparam param="image_resize_height">44</rosparam>
	</node>

	<!-- Show image matching -->
	<node pkg="image_view" type="image_view" name="image_match_debug_view" >
		<remap from="image" to="/miro/match_image_debug" />
	</node>
</launch>