<launch>
	<!-- Teleop to control Miro -->
	<node pkg="joy" type="joy_node" name="joy">
		<rosparam param="joy">/dev/input/js0</rosparam>
	</node>

	<!-- Collect image data -->
	<node pkg="miro_teach_repeat" type="teleop_joy.py" name="miro_teleop_joy">
		<rosparam command="load" file="$(find miro_teach_repeat)/config/xbox_one.yaml" />
	</node>
</launch>