<launch>
	<!-- Timestamp images from the cameras -->
	<node pkg="miro_onboard" type="image_stamper.py" name="miro_image_stamper">
		<!-- <rosparam param="calibration_file_left" subst_value="True">$(find miro_onboard)/calibration/left_360.yaml</rosparam>
		<rosparam param="calibration_file_right" subst_value="True">$(find miro_onboard)/calibration/right_360.yaml</rosparam> -->
	</node>

	<!-- Syncrhonise images from the cameras -->
	<node pkg="miro_onboard" type="image_synchroniser.py" name="miro_image_sync" />

	<!-- Control the kinematic joints -->
	<node pkg="miro_onboard" type="joint_controller.py" name="miro_joint_controller" />

	<!-- Integrate odometry -->
	<node pkg="miro_onboard" type="odom_integrator.py" name="miro_odom_integrator" />

	<!-- Read IP on touching nose -->
	<node pkg="miro_onboard" type="ontouch_read_ip.py" name="miro_ontouch_read_ip" />

	<!-- Teleop to control Miro -->
	<node pkg="joy" type="joy_node" name="joy">
		<rosparam param="joy">/dev/input/js0</rosparam>
		<rosparam param="autorepeat_rate">25</rosparam>
	</node>
</launch>