<launch>
	<!-- Hold head in place -->
	<node pkg="miro_teach_repeat" type="joint_controller.py" name="miro_joint_controller">
		<rosparam param="lift">30</rosparam>
		<rosparam param="yaw">0</rosparam>
		<rosparam param="pitch">8</rosparam>
	</node>

	<!-- Teleop to control Miro -->
	<!-- <include file="$(find miro_demos)/launch/teleop.launch" /> -->
	<include file="$(find miro_teach_repeat)/launch/teleop_joy.launch" />

	<!-- Drive in a straight line -->
	<!-- <node pkg="miro_teach_repeat" type="drive_straight_controller.py" name="miro_drive_straight" launch-prefix="bash -c 'sleep 5; $0 $@' "/> -->

	<!-- Integrate odometry -->
	<node pkg="miro_teach_repeat" type="odom_integrator.py" name="miro_odom_integrator" output="screen"/>

	<!-- Timestamp images for matching -->
	<node pkg="miro_teach_repeat" type="image_stamper.py" name="miro_image_stamper" />

	<!-- Collect image data -->
	<node pkg="miro_teach_repeat" type="data_collect.py" name="miro_data_collect" launch-prefix="bash -c 'sleep 2; $0 $@' ">
		<rosparam param="distance_threshold">0.1</rosparam>
		<rosparam param="angle_threshold_deg">15.0</rosparam>                             
		<!-- <rosparam param="camera_setup_command">frame=180w@15</rosparam> -->
	</node>

	<!-- Save Images and pose in a directory -->
	<node pkg="miro_teach_repeat" type="data_save.py" name="miro_data_save" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@' ">
		<rosparam param="save_dir">~/miro/data</rosparam>
		<rosparam param="timestamp_folder">1</rosparam>
		<rosparam param="image_resize_width">115</rosparam>
		<rosparam param="image_resize_height">44</rosparam>
	</node>
</launch>