<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
	<header class="page-header" role="banner">
		<h1 class="project-name">QVPR Teach and Repeat Multimedia Material</h1>
	</header>

	<main id="content" class="main-content" role="main">
		<h2>IROS2021 presentation</h2>
		<video controls="true" style="width: 100%;">
			<source src="https://github.com/QVPR/teach-repeat/blob/multimedia/videos/conference-video-presentation.mp4?raw=true" type="video/mp4">
		</video>
		<h2>Full overview video</h2>
		<video controls="true" style="width: 100%;">
			<source src="https://github.com/QVPR/teach-repeat/blob/multimedia/videos/full-overview.mp4?raw=true" type="video/mp4">
		</video>
		<h2>Short overview video</h2>
		<video controls="true" style="width: 100%;">
			<source src="https://github.com/QVPR/teach-repeat/blob/multimedia/videos/short-vid.mp4?raw=true" type="video/mp4">
		</video>
		<h2>Real time outdoor run video</h2>
		<video controls="true" style="width: 100%;">
			<source src="https://github.com/QVPR/teach-repeat/blob/multimedia/videos/full-real-time.mp4?raw=true" type="video/mp4">
		</video>

		<h2 id="reference">Reference</h2>
		<p>If you use code contained in <a href="https://github.com/QVPR/teach-repeat">this repository</a>, please cite
			<a href="https://arxiv.org/abs/2010.11326">our paper</a>:</p>
<div class="language-bibtex highlighter-rouge">
	<div class="highlight">
		<pre class="highlight"><code><span class="nc">@inproceedings</span><span class="p">{</span><span class="nl">dallosto2021fast</span><span class="p">,</span>
	<span class="na">title</span><span class="p">=</span><span class="s">{Fast and Robust Bio-inspired Teach and Repeat Navigation}</span><span class="p">,</span> 
	<span class="na">author</span><span class="p">=</span><span class="s">{Dall'Osto, Dominic and Fischer, Tobias and Milford, Michael}</span><span class="p">,</span>
	<span class="na">booktitle</span><span class="p">=</span><span class="s">{IEEE/RSJ International Conference on Intelligent Robots and Systems}</span><span class="p">,</span>
	<span class="na">year</span><span class="p">=</span><span class="s">{2020}</span><span class="p">,</span>
<span class="p">}</span></code></pre>
			</div>
		</div>
	</main>
</body>

</html>