<launch>
	<arg name="speed_linear" default="0.2" />
	<arg name="speed_angular" default="1.0" />

	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="miro_teleop" output="screen">
		<remap from="/cmd_vel" to="/miro/teleop/cmd_vel" />
		<rosparam param="speed" subst_value="true">$(arg speed_linear)</rosparam>
		<rosparam param="turn" subst_value="true">$(arg speed_angular)</rosparam>
	</node>
	<node pkg="miro_demos" type="twist_stamper.py" name="miro_teleop_stamper" />
</launch>